<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Hệ thống GPLX", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Hồ sơ", "DanhSachHoSo", "Admin/HoSo", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Đăng nhập", "Login", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <br />
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Hệ thống <span>GPLX </span><i class="fa-solid fa-traffic-light"></i></h3>

            <p class="footer-links">
                <a href="#" class="link-1">Trang chủ</a>

                <a href="#">Blog</a>

                <a href="#">Pricing</a>

                <a href="#">About</a>

                <a href="#">Faq</a>

                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">Company Name © 2015</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>TP.Thủ Đức, HCM</span></p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+84 785924515</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#">sneakiedward@gmail.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>Về hệ thống</span>
                Nội dung
            </p>

            <div class="footer-icons">

                <a href="https://www.facebook.com/ptt27092002" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://github.com/minhhieuphamit/QuanLyGPLX-LapTrinhWeb" target="_blank"><i class="fa-brands fa-square-github"></i></a>

            </div>

        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("edit", required: false)
    @RenderSection("create", required: false)
    @RenderSection("danhsach", required: false)
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
</body>
</html>