@model QuanLyGPLX_LapTrinhWeb.Models.HoSoGPLX

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<div>
    <h4>Hồ sơ giấy phép lái xe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Số căn cước công dân: @Html.DisplayFor(model => model.SoCCCD, new { @style = "font-weight: normal;" })
        </dt>

        <dt>
            Mã hạng : @Html.DisplayFor(model => model.MaHang)
        </dt>

        <dt>
            Ngày cấp giấy phép lái xe: @Html.DisplayFor(model => model.NgayCapGPLX)
        </dt>

        <dt>
            Ngày hết hạn giấy phép lái xe: @Html.DisplayFor(model => model.NgayHetHanGPLX)
        </dt>

        <dt>
            Trung tâm sát hạch: @Html.DisplayFor(model => model.MaTT)
        </dt>

        <dt>
            Điểm lý thuyết: @Html.DisplayFor(model => model.DiemLT)
        </dt>

        <dt>
            Điểm thực hành: @Html.DisplayFor(model => model.DiemTH)
        </dt>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary"/> |
            @Html.ActionLink("Back to List", "DanhSachHoSo")
        </div>
    }
</div>
