@model QuanLyGPLX_LapTrinhWeb.Models.HoSoGPLX

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section edit
{
    <script src="~/Scripts/Scripts.js"></script>
}

<h2>Chỉnh sửa hồ sơ</h2>

<div>
    <hr />
    @using (Html.BeginForm())
    {
        <div class="container-xl px-4 mt-4">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaGPLX)
            <div class="row">
                <div class="col-xl-4">
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Hình ảnh hồ sơ</div>
                        <div class="card-body text-center">
                            <img class="mb-2" src="@Model.HinhAnh" id="pictureUpload" alt="Hình" style="width: 45%;">
                            <div class="small font-italic text-muted mb-4">Dung lượng ảnh không quá 5 MB</div>
                            <input type="text" id="HinhAnh" name="HinhAnh" hidden />
                            <input type="file" name="fileUpload" id="fileUpload" accept="image/*" hidden />
                            <input type="button" id="btnUpload" value="Tải ảnh lên" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="card mb-4">
                        <div class="card-header">Thông tin</div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6 gx-3 mb-3">
                                        <label class="small mb-1">Mã hạng</label>
                                        @Html.DropDownList("MaHang", ViewBag.HangGPLX as SelectList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaHang, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6 gx-3 mb-3">
                                        <label class="small mb-1">Trung tâm sát hạch</label>
                                        @Html.DropDownList("TenTT", ViewBag.TenTTSH as SelectList, "--Select--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaTT, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 gx-3 mb-3">
                                        <label class="small mb-1">Ngày cấp</label>
                                        @Html.EditorFor(model => model.NgayCapGPLX, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.NgayCap } })
                                        @Html.ValidationMessageFor(model => model.NgayCapGPLX, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6 gx-3 mb-3">
                                        <label class="small mb-1">Ngày hết hạn</label>
                                        @Html.EditorFor(model => model.NgayHetHanGPLX, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.NgayHetHan } })
                                        @Html.ValidationMessageFor(model => model.NgayHetHanGPLX, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-md-6 gx-3 mb-3">
                                        <label class="small mb-1">Điểm lý thuyết</label>
                                        @Html.EditorFor(model => model.DiemLT, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DiemLT, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-6 gx-3 mb-3">
                                        <label class="small mb-1">Điểm thực hành</label>
                                        @Html.EditorFor(model => model.DiemTH, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DiemTH, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 gx-3">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <a class="btn btn-outline-dark" href="@Url.Action("DanhSachHoSo", "HoSo")"><i class="fa-solid fa-arrow-left"></i> Back</a>
</div>