@model IEnumerable<QuanLyGPLX_LapTrinhWeb.Models.HoSo>

@{
    ViewBag.Title = "DanhSachHoSo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DanhSachHoSo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaGPLX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayHetHan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HangGPLX)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaGPLX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayHetHan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangGPLX)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaGPLX.Trim() }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>
s