@model QuanLyGPLX_LapTrinhWeb.Models.HoSo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hồ sơ</h4>
    <hr />
    <div class="container-xl px-4 mt-4">
        <div class="row">

            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header text-center">Hình ảnh hồ sơ</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile mb-2" src="@Model.HinhAnh" alt="Hình" style="width: 70%;">
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header text-center">Chi tiết thông tin</div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.MaGPLX)</label>
                                    <input class="form-control" placeholder="Mã GPLX" value="@Html.DisplayFor(model => model.MaGPLX)" readonly>
                                </div>
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1" for="inputFirstName">@Html.DisplayNameFor(model => model.HangGPLX)</label>
                                    <input class="form-control" placeholder="Hạng GPLX" value="@Html.DisplayFor(model => model.HangGPLX)" readonly>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.HoTen)</label>
                                    <input class="form-control" placeholder="Họ và tên" value="@Html.DisplayFor(model => model.HoTen)" readonly>
                                </div>
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.NgaySinh)</label>
                                    <input class="form-control" placeholder="Ngày/Tháng/Năm" value="@Html.DisplayFor(model => model.NgaySinh)" readonly>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.GioiTinh)</label>
                                    <input class="form-control" placeholder="Giới tính" value="@Html.DisplayFor(model => model.GioiTinh)" readonly>
                                </div>
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.SDT)</label>
                                    <input class="form-control" placeholder="Số điện thoại" value="@Html.DisplayFor(model => model.SDT)" readonly>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.DanToc)</label>
                                    <input class="form-control" placeholder="Dân tộc" value="@Html.DisplayFor(model => model.DanToc)" readonly>
                                </div>
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.DiaChi)</label>
                                    <input class="form-control" placeholder="Mã GPLX" value="@Html.DisplayFor(model => model.DiaChi)" readonly>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.QuocTich)</label>
                                    <input class="form-control" placeholder="Quốc tịch" value="@Html.DisplayFor(model => model.QuocTich)" readonly>
                                </div>
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.TTSH)</label>
                                    <input class="form-control" placeholder="Trung tâm sát hạch" value="@Html.DisplayFor(model => model.TTSH)" readonly>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.NgayCap)</label>
                                    <input class="form-control" type="tel" placeholder="Quốc tịch" value="@Html.DisplayFor(model => model.NgayCap)" readonly>
                                </div>
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.NgayHetHan)</label>
                                    <input class="form-control" placeholder="Trung tâm sát hạch" value="@Html.DisplayFor(model => model.NgayHetHan)" readonly>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.DiemLT)</label>
                                    <input class="form-control" placeholder="Quốc tịch" value="@Html.DisplayFor(model => model.DiemLT)" readonly>
                                </div>
                                <div class="col-md-6 gx-3 mb-3">
                                    <label class="small mb-1">@Html.DisplayNameFor(model => model.DiemTH)</label>
                                    <input class="form-control" placeholder="Trung tâm sát hạch" value="@Html.DisplayFor(model => model.DiemTH)" readonly>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaGPLX.Trim() }) |
    @Html.ActionLink("Back to List", "DanhSachHoSo")
</p>
